# IntelliJ IDEA
.idea
.run
*.iml
out
captures

# Gradle
.gradle
build
local.properties
keystore.properties

# Common
.tmp
.log
.kotlin

# webapp
/webapp/resources/docker/run/*.jar
