# IntelliJ IDEA
.idea
*.iml
out
captures

# Gradle
.gradle
build
local.properties
keystore.properties

# GitHub
.github

# Common
.tmp
.log

# webapp
/webapp/resources/docker/*.jar
